---
layout: default
title: Home
---
<div class="message">
  👋 This site is currently under development. Check back soon or contact us with questions!
</div>
<div>
  <h1>Welcome to the Mapping Slavery in Germany project.</h1>
  <p>This project seeks to map institutions, families, and places of note in Germany that were associated with the slave
    trade. It is inspired by the <a href="http://www.mappingslavery.nl">Mapping Slavery in the Netherlands</a> project.
  </p>
</div>

<h1>Posts</h1>
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h2 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
      </h1>

      <span class="post-date">{{ post.date | date_to_string }}</span>

      {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
  <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
  {% else %}
  <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
  {% endif %}
  {% else %}
  <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
